body {
  background-image: url("pyramid.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-eva {
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 8%;
  font-family: "Amatic SC", cursive;
  font-size: 2.2rem;
  text-align: center;
}

.btn,
.back {
  text-decoration: none;
  color: #000;
}

.back {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
}

.btn:hover {
  background-color: rgb(255, 221, 0);
}
